{% extends "loans/layout.html" %}
{% load static  %}

{% block script %}
{% endblock %}


{% block body %}
{% if application.first_name %}
    <div class="flex flex-col items-center justify-center py-10 p-8 rounded-lg shadow-lg max-w-xl mx-auto text-center">
        <h4 class="text-xl font-semibold mb-4">Hola <span class="italic text-yellow-600">{{ application.first_name }}</span>, tu aplicación por un prestamo de ${{application.amount}} ha sido enviada con éxito!</h4>


        {% if application.is_approved %}
            <div class="p-6 bg-green-500 text-white rounded-md shadow-md w-full">
                <h2 class="text-2xl font-bold">¡Felicidades!</h2>
                <p>Tu aplicación fue aceptada</p>
            </div>
        {% else %}
            <div class="p-6 bg-red-500 text-white rounded-md shadow-md">
                <h2 class="text-2xl font-bold">Lamentablemente, fue rechazada</h2>
                <p>Gracias por tu tiempo y esfuerzo. No dudes en postularte nuevamente en el futuro.</p>
            </div>
        {% endif %}
        <h3 class="text-lg mt-4">Gracias por tu interés.</h3>
        <div>
            <p class="font-bold">Este es el codigo unico de tu aplicacion. Guardalo si queres consultar por esta solitud en el futuro:</p>
            <p class="p-4 border shadow-lg bg-gray-700">{{application.id}}</p>
            <p></p>
        </div>
        
        

    </div>
{% else %}
    <h1>404</h1>
{% endif %}

        
{% endblock %}
