{% extends "loans/layout.html" %}

{% block body %}

    <h3 class="text-center">Estas seguro que queres eliminar esta aplicacion?</h3>
    <p class="text-center border p-4 text-lg">Aplicacion de {{application.first_name}} {{application.last_name}} por ${{application.amount}}</p>

    <form method="post" action="" class="flex items-center justify-center">
        {% csrf_token %}
        <a href="{% url 'admin_view' %}" class="btn btn-info">Cancelar</a>

        <input type="submit" name="Confirmar" value="Confirmar" id="" class="btn btn-danger mx-4">
    </form>
{% endblock %}