{% extends "loans/layout.html" %}
{% load widget_tweaks %}

{% block script %}
    <script>
        function toggleForm() {
            formulario = document.getElementById('formulario')
            if (formulario.style.display == 'none') {
                formulario.style.display = 'block'
            } else {
                formulario.style.display = 'none'
            }
        }
        
    </script>
{% endblock %}

{% block body %}
<h2>Bienvenido superuser 😉</h2>
{% for message in messages %}
    <div class="alert alert-info" >{{message}}</div>
{% endfor %}

<!-- boton de toggle filtros -->
<button onclick="toggleForm()" class="btn btn-info my-4">Filtrar aplicaciones</button>


<form id="formulario" method="get" style="display: none;">
    {% for field in qs_filter.form %}
            <div>
                <label for="{{ field.id_for_label }}" class="">• {{ field.label }}</label>
                <span class="">
                    {{ field|add_class:"rounded-md px-2 shadow-sm bg-gray-700"  }}
                </span>

            </div>
                
    {% endfor %}
    <input type="submit" value="Filtrar" id="" class="btn btn-info mb-4">
</form>


<table class="table-auto w-full border-collapse">
    <thead>
        <tr class="bg-gray-800">
            <th class="px-4 py-2 border">DNI</th>
            <th class="px-4 py-2 border">CUIL</th>
            <th class="px-4 py-2 border">Nombre</th>
            <th class="px-4 py-2 border">Apellido</th>
            <th class="px-4 py-2 border">Correo Electrónico</th>
		<th class="px-4 py-2 border">Fecha de creacion</th>
            <th class="px-4 py-2 border">Género</th>
            <th class="px-4 py-2 border">Aprobado</th>
            <th class="px-4 py-2 border">Monto Solicitado</th>
            <th class="px-4 py-2 border">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
            <tr>
                <td class="px-4 py-2 border">{{ application.dni }}</td>
                <td class="px-4 py-2 border">{{ application.cuil }}</td>
                <td class="px-4 py-2 border">{{ application.first_name }}</td>
                <td class="px-4 py-2 border">{{ application.last_name }}</td>
                <td class="px-4 py-2 border">{{ application.email }}</td>
		<td class="px-4 py-2 border">{{ application.created_date }}</td>
                <td class="px-4 py-2 border">{{ application.gender }}</td>
                
                <td class="px-4 py-2 border">{{ application.is_approved|yesno:"Si ✅,No ❌" }}</td>
                <td class="px-4 py-2 border">$ {{ application.amount }}</td>
                <td class="px-4 py-2 border">
                    <a href="{% url 'edit_application' application.id %}" class="btn btn-warning mb-2">Editar</a>
                    <a href="{% url 'delete_application' application.id %}" class="btn btn-danger mb-2">Eliminar</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8" class="text-center px-4 py-2 border">No hay aplicaciones disponibles</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
